<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ojc.board.repository.BoardMapper">
	
	<resultMap type="Board" id="boardResultMap">
		<result property="id" column="ID" />
		<result property="writer" column="WRITER" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="regDate" column="REG_DATE" />
		<result property="hitCount" column="HIT_COUNT" />
	</resultMap>
	
	<insert id="insert" parameterType="Board">
		INSERT INTO xboard(writer, title, content, reg_date, hit_count)
		VALUES(#{writer}, #{title}, #{content}, SYSDATE, 0)
	</insert>
	
	<update id="update" parameterType="Board">
		UPDATE xboard SET title=#{title}, content=#{content} WHERE id=#{id}
	</update>
	
	<delete id="delete" parameterType="long">
		DELETE FROM xboard WHERE id=#{id}
	</delete>
	
	<select id="selectById" parameterType="long" resultMap="boardResultMap">
		SELECT * FROM xboard WHERE id=#{id}
	</select>
	
	
	<select id="selectByLimit" resultType="Board">
		<bind name="start" value="@ojc.board.dto.Pager@seekStart(page, size)"/>
		<bind name="end" value="@ojc.board.dto.Pager@seekEnd(page, size)"/>
		<!-- SELECT * FROM (
			SELECT ROWNUM AS rnum, b.* 
			FROM (
				SELECT * FROM xboard 
				ORDER BY id DESC
			) b
		    WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start} -->
		
		-- ORACLE12.1 이상
		-- 9999페이지까지는 SKIP하고 그 다음 10000번째 페이지의 10개 추출
		SELECT * 
		FROM   xboard
		ORDER BY id DESC
		OFFSET TO_NUMBER(#{start}) - 1  ROWS FETCH NEXT 10 ROWS ONLY
	</select>
	
	<update id="increment">
		UPDATE xboard SET hit_count=hit_count+1 WHERE id=#{id} and writer!=#{requester}
	</update>
	
</mapper>